    <section class="footer">
        <div class="footer_highlight">
            <ul class="footer_list">
                <li class="footer_item">&copy Flowpatrol, 2014</li>
                <li class="footer_item"><b>Tel:</b> <a href="tel:000000000">01208 398405</a></li>
                <li class="footer_item"><b>Email:</b> <a href="robin@flowpatrol.com">robin@flowpatrol.com</a></li>
                <li class="footer_item"><a href="https://www.google.co.uk/maps/place/Flow+Patrol/@50.258916,-5.2015845,17z/data=!4m5!1m2!2m1!1sWestward+Wheal+Rose+Scorrier+Cornwall+TR16+5DA!3m1!1s0x0:0x5a05b6b25f0387d0">Westward, Wheal Rose, Scorrier, Cornwall, TR16 5DA</a></li>
            </ul>
        </div>
    </section>