{% extends "demo/base.html" %}
{% load demo_tags cache compress static rich_text %}

{% block extra_css %}
{% endblock %}

{% block body_class %}
    test-style
{% endblock %}

{% block content %}
    {% with self.carousel_items.all as carousel_items %}
        {% if carousel_items %}
            {% include "demo/includes/carousel.html" with self=self carousel_items=carousel_items %}
        {% endif %}
    {% endwith %}
    <div class='lowerContainer'>
             {% include "demo/includes/body.html" with body=self.body only %}
        <div class='formContainer'>
            {% include "demo/includes/contact_form.html" %}
        </div>
    </div>
{% endblock %}
