{% extends "demo/base.html" %}
{% load demo_tags cache compress static rich_text %}

{% block extra_css %}
{% endblock %}

{% block body_class %}
    test-style
{% endblock %}

{% block content %}
    <div class='carouselContainer'>
        {% include "demo/includes/carousel.html" with self=self carousel_items=self.carousel_items.all only %}

        <div class="controlBox"></div>
    </div>
    {% if self.headline %}
        <div class='headlineBox'><h2>{{ self.headline }}</h2></div>
    {% endif %}
    {% if self.headline %}
        <div class='featuresBox'>{{ self.features|richtext }}</div>
    {% endif %}
        <div class='lowerContainer'>
                 {% include "demo/includes/body.html" with body=self.body only %}
            <div class='formContainer'>
                {% include "demo/includes/contact_form.html" %}
            </div>
        </div>
{% endblock %}
