{% extends "demo/base.html" %}
{% load demo_tags cache compress static %}

{% block extra_css %}
{% endblock %}

{% block body_class %}
    test-style
{% endblock %}

{% block content %}
   
    <div class='leftColumn'>
        {% include "demo/includes/carousel.html" with carousel_items=self.carousel_items.all only %}
        {% include "demo/includes/body.html" with body=self.body only %}
    </div>
    <div class='bodyTextContainer'>
        <ul>
            {% with list_items=self.main_list.all %}
                {% for list_item in list_items %}
                    <li class="fa fa-chevron-circle-right">
                        {% if list_item.link %}
                        <a href="{{ list_item.link }}">{{ list_item.list_item_text }}</a>
                        {% else %}
                        {{ list_item.list_item_text }}
                        {% endif %}
                    </li>
                {% endfor %}
            {% endwith %}
        </ul>
    </div>



{% endblock %}
